header {
    display: grid; 
    grid-template-columns: 200px 1fr;
    background-color: beige;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .topbar {
    color: #55917F;
    }
    
    nav a {
      font-size: 250%;
      color: black;
      text-decoration: none;}


main{
        display: grid; 
        grid-template-columns:1fr;
    }

    .onecolum {
        text-align: center;
        font-size: 250%; 
        background-color: #55917F;
        color: white;
    }
.outimg {
    width: 30%;
    margin: auto;
}

  footer {
    display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  font-size: 250%;
  }
  footer img {
   width:5% ;
  }
  .outlink {
    text-decoration: none;
    color: black;
  }

